Shmzh.Component.SystemComponent/Web References/OnlineStatusService/OnlineStatus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">系统管理中OnlineStatus 的WebService接口.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="onlineStatus" type="tns:OnlineStatusInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OnlineStatusInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BeatTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="onlineStatus" type="tns:OnlineStatusInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="onlineStatus" type="tns:OnlineStatusInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByUserNameAndIPAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ipAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByUserNameAndIPAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByUserNameAndIPAddressResult" type="tns:OnlineStatusInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByUserNameResult" type="tns:ArrayOfOnlineStatusInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOnlineStatusInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OnlineStatusInfo" nillable="true" type="tns:OnlineStatusInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetByIPAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ipAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByIPAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByIPAddressResult" type="tns:ArrayOfOnlineStatusInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOnlineUser">
        <s:complexType />
      </s:element>
      <s:element name="GetOnlineUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOnlineUserResult" type="tns:ArrayOfOnlineStatusInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GetByUserNameAndIPAddressSoapIn">
    <wsdl:part name="parameters" element="tns:GetByUserNameAndIPAddress" />
  </wsdl:message>
  <wsdl:message name="GetByUserNameAndIPAddressSoapOut">
    <wsdl:part name="parameters" element="tns:GetByUserNameAndIPAddressResponse" />
  </wsdl:message>
  <wsdl:message name="GetByUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetByUserName" />
  </wsdl:message>
  <wsdl:message name="GetByUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetByIPAddressSoapIn">
    <wsdl:part name="parameters" element="tns:GetByIPAddress" />
  </wsdl:message>
  <wsdl:message name="GetByIPAddressSoapOut">
    <wsdl:part name="parameters" element="tns:GetByIPAddressResponse" />
  </wsdl:message>
  <wsdl:message name="GetOnlineUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetOnlineUser" />
  </wsdl:message>
  <wsdl:message name="GetOnlineUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetOnlineUserResponse" />
  </wsdl:message>
  <wsdl:portType name="OnlineStatusSoap">
    <wsdl:operation name="Insert">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加用户在线状态记录</wsdl:documentation>
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改用户在线状态记录</wsdl:documentation>
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除用户在线状态记录</wsdl:documentation>
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByUserNameAndIPAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户名和IP地址来获取用户在线状态记录实体。</wsdl:documentation>
      <wsdl:input message="tns:GetByUserNameAndIPAddressSoapIn" />
      <wsdl:output message="tns:GetByUserNameAndIPAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByUserName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户名和IP地址来获取用户在线状态记录实体。</wsdl:documentation>
      <wsdl:input message="tns:GetByUserNameSoapIn" />
      <wsdl:output message="tns:GetByUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByIPAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户名获取用户在线记录集合.</wsdl:documentation>
      <wsdl:input message="tns:GetByIPAddressSoapIn" />
      <wsdl:output message="tns:GetByIPAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOnlineUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据在线用户记录集.</wsdl:documentation>
      <wsdl:input message="tns:GetOnlineUserSoapIn" />
      <wsdl:output message="tns:GetOnlineUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OnlineStatusSoap" type="tns:OnlineStatusSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByUserNameAndIPAddress">
      <soap:operation soapAction="http://tempuri.org/GetByUserNameAndIPAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByUserName">
      <soap:operation soapAction="http://tempuri.org/GetByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIPAddress">
      <soap:operation soapAction="http://tempuri.org/GetByIPAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnlineUser">
      <soap:operation soapAction="http://tempuri.org/GetOnlineUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OnlineStatusSoap12" type="tns:OnlineStatusSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByUserNameAndIPAddress">
      <soap12:operation soapAction="http://tempuri.org/GetByUserNameAndIPAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByUserName">
      <soap12:operation soapAction="http://tempuri.org/GetByUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIPAddress">
      <soap12:operation soapAction="http://tempuri.org/GetByIPAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnlineUser">
      <soap12:operation soapAction="http://tempuri.org/GetOnlineUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OnlineStatus">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">系统管理中OnlineStatus 的WebService接口.</wsdl:documentation>
    <wsdl:port name="OnlineStatusSoap" binding="tns:OnlineStatusSoap">
      <soap:address location="http://localhost/Shmzh.SystemComponent.WebService/OnlineStatus.asmx" />
    </wsdl:port>
    <wsdl:port name="OnlineStatusSoap12" binding="tns:OnlineStatusSoap12">
      <soap12:address location="http://localhost/Shmzh.SystemComponent.WebService/OnlineStatus.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>