Shmzh.Monitor.Data/Web References/GraphSchemaItemService/graphschemaItem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAll">
        <s:complexType />
      </s:element>
      <s:element name="GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllResult" type="tns:ArrayOfGraphSchemaItemInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGraphSchemaItemInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GraphSchemaItemInfo" nillable="true" type="tns:GraphSchemaItemInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GraphSchemaItemInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ItemId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SchemaId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TitleVisible" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TitleFontSize" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="TitleFontFamily" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LegendVisible" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LegendFontSize" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="LegendFontFamily" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LegendIsShowSymbols" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LegendIsHStack" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LegendPosition" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XAxis" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XScaleVisible" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="XScaleFontSize" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="XScaleFontFamily" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XTitleVisible" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="XTitleFontSize" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="XTitleFontFamily" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YAxis" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="YScaleVisible" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="YScaleFontSize" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="YScaleFontFaminly" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="YTitleVisible" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="YTitleFontSize" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="YTitleFontFamily" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MinSpaceL" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="MinSpaceR" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="SerialNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XScaleFormat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YScaleFormat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TagList" type="tns:ArrayOfGraphSchemaTagInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGraphSchemaTagInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GraphSchemaTagInfo" nillable="true" type="tns:GraphSchemaTagInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GraphSchemaTagInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KeyId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TagId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TagName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurveType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CurveColor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SerialNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LineWidth" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="SymbolType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SymbolSize" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="MAPeriod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LineType" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="SymbolColor" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByIdResult" type="tns:GraphSchemaItemInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBySchemaId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="schemaId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBySchemaIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBySchemaIdResult" type="tns:ArrayOfGraphSchemaItemInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="schemaItemId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemInfo" type="tns:GraphSchemaItemInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemInfo" type="tns:GraphSchemaItemInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Move">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="opType" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MoveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="GetByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="GetByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetBySchemaIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetBySchemaId" />
  </wsdl:message>
  <wsdl:message name="GetBySchemaIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetBySchemaIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="MoveSoapIn">
    <wsdl:part name="parameters" element="tns:Move" />
  </wsdl:message>
  <wsdl:message name="MoveSoapOut">
    <wsdl:part name="parameters" element="tns:MoveResponse" />
  </wsdl:message>
  <wsdl:portType name="GraphSchemaItemSoap">
    <wsdl:operation name="GetAll">
      <wsdl:input message="tns:GetAllSoapIn" />
      <wsdl:output message="tns:GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input message="tns:GetByIdSoapIn" />
      <wsdl:output message="tns:GetByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBySchemaId">
      <wsdl:input message="tns:GetBySchemaIdSoapIn" />
      <wsdl:output message="tns:GetBySchemaIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Move">
      <wsdl:input message="tns:MoveSoapIn" />
      <wsdl:output message="tns:MoveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GraphSchemaItemSoap" type="tns:GraphSchemaItemSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBySchemaId">
      <soap:operation soapAction="http://tempuri.org/GetBySchemaId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Move">
      <soap:operation soapAction="http://tempuri.org/Move" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GraphSchemaItemSoap12" type="tns:GraphSchemaItemSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap12:operation soapAction="http://tempuri.org/GetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBySchemaId">
      <soap12:operation soapAction="http://tempuri.org/GetBySchemaId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Move">
      <soap12:operation soapAction="http://tempuri.org/Move" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GraphSchemaItem">
    <wsdl:port name="GraphSchemaItemSoap" binding="tns:GraphSchemaItemSoap">
      <soap:address location="http://localhost/shmzh.monitor.dataservice/graphschemaItem.asmx" />
    </wsdl:port>
    <wsdl:port name="GraphSchemaItemSoap12" binding="tns:GraphSchemaItemSoap12">
      <soap12:address location="http://localhost/shmzh.monitor.dataservice/graphschemaItem.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>