Shmzh.Monitor.Data/Web References/TagGatherService/TagGather.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://shuizhi.ypwater.org/DataService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://shuizhi.ypwater.org/DataService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://shuizhi.ypwater.org/DataService/">
      <s:element name="GetByTagId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tagId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByTagIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByTagIdResult" type="tns:ArrayOfTagGatherInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTagGatherInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TagGatherInfo" nillable="true" type="tns:TagGatherInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TagGatherInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="I_TAG_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="I_DESIGN_CD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="I_ADDRESS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="I_PARA_A" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="I_PARA_B" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="I_PARA_C" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="I_MAX" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="I_MIN" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="I_ACTION" type="s:short" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetByTagIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetByTagId" />
  </wsdl:message>
  <wsdl:message name="GetByTagIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetByTagIdResponse" />
  </wsdl:message>
  <wsdl:portType name="TagGatherSoap">
    <wsdl:operation name="GetByTagId">
      <wsdl:input message="tns:GetByTagIdSoapIn" />
      <wsdl:output message="tns:GetByTagIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TagGatherSoap" type="tns:TagGatherSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByTagId">
      <soap:operation soapAction="http://shuizhi.ypwater.org/DataService/GetByTagId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TagGatherSoap12" type="tns:TagGatherSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByTagId">
      <soap12:operation soapAction="http://shuizhi.ypwater.org/DataService/GetByTagId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TagGather">
    <wsdl:port name="TagGatherSoap" binding="tns:TagGatherSoap">
      <soap:address location="http://localhost/Shmzh.Monitor.DataService/TagGather.asmx" />
    </wsdl:port>
    <wsdl:port name="TagGatherSoap12" binding="tns:TagGatherSoap12">
      <soap12:address location="http://localhost/Shmzh.Monitor.DataService/TagGather.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>